.productsSectionContainer {
  margin-bottom: 50px;

  a {
    text-decoration: none !important;
    color: initial;

    &:hover {
      color: initial;
    }
  }

  h1 {
    position: relative;
    padding: 40px 40px 20px 80px;
    font-family: "Lato", sans-serif;
    font-size: 39px;
    color: #2c3648;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #555a63;
      left: 20px;
      top: 60%;
    }
  }
}
