@import "../common/mixins";

.productsSectionContainer {
  margin-bottom: 50px;
  padding-top: 8%;
  margin-left: 100px;

  @include resetAnchorHover(initial, initial);

  .productsTitle {
    position: relative;
    padding: 40px 40px 20px 80px;
    font-size: 39px;
    color: #2c3648;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #555a63;
      left: 20px;
      top: 60%;
    }
  }
}

@include media(tablet) {
  .productsSectionContainer {
    margin-left: -10px;
  }
}

@include media(tablet-sm) {
  .productsSectionContainer {
    margin-left: -40px;
  }
  .productsTitle {
    font-size: 30px !important;
    margin-left: 70px;

    &::before {
      left: 0px !important;
    }
  }
}

@include media(phone) {
  .productsSectionContainer {
    margin-left: 50px;
  }
  .productsTitle {
    font-size: 25px !important;
    padding-left: 150px !important;

    &::before {
      display: none !important;
    }
  }
}

@include media(phone-sm) {
  .productsSectionContainer {
    margin-left: -40px;
  }
  .productsTitle {
    padding-left: 120px !important;
  }
}
