@import "../common/mixins";

.productsSectionContainer {
  margin-bottom: 50px;

  @include resetAnchorHover(initial, initial);

  .productsTitle {
    position: relative;
    padding: 40px 40px 20px 80px;
    font-size: 39px;
    color: #2c3648;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: #555a63;
      left: 20px;
      top: 60%;
    }
  }
}

@include media(tablet-sm) {
  .productsTitle {
    font-size: 30px !important;

    &::before {
      left: 0px !important;
    }
  }
}

@include media(phone) {
  .productsTitle {
    font-size: 25px !important;
    padding-left: 150px !important;

    &::before {
      display: none !important;
    }
  }
}

@include media(phone-sm) {
  .productsTitle {
    padding-left: 120px !important;
  }
}
