$excludePaymentBar: calc(100% - 350px) !important;

.relatedSectionContainer {
  max-width: $excludePaymentBar;
  position: relative;
  padding: 200px 0 40px 20px !important;
  margin: 0 !important;

  .relatedSectionInfo {
    margin: 0;
    padding: 15px 20px;
  }
}
