@import "../../../common/variables.scss";

.signupBox {
  // !important is used to cascade default Bootstrap styling.
  width: 270px !important;
  transition: all 1s ease-in-out;
  position: absolute !important;
  margin: 0 auto;
  background-color: #ffffff;
  transform: translateY(70px);
  top: 35px;
  color: black;
  right: 35px;
  display: block !important;

  // To show SignUpBox on the Header overlay.
  z-index: 20;

  .socialLoginButtons {
    margin-top: 20px;
  }

  .signupForm {
    margin-top: 20px;
    padding: 0;

    .formInputWrapper {
      display: flex;

      .fas {
        position: relative;
        min-width: 42px;
        background-color: #f3f3f36e;
        height: 42px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        border-right: 0.1px solid #ced4da;

        &::before {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    input {
      font-size: 14px;
    }

    .formInputLabel {
      margin-bottom: 2px;
    }

    .formInput {
      height: 42px;
    }
  }

  .signupRedirect {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;

    a {
      font-size: 12px;
      color: black !important;
    }
  }

  .googleButton,
  .fbButton {
    height: 100%;
    width: 80%;
    padding: 7px 0px;
    font-size: 13px;
  }

  .loginButton {
    margin-top: 10px;
    width: 100%;
  }
}

@include media(tablet-sm) {
  .signupBox {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    box-shadow: none;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      left: 0;
      -webkit-box-shadow: 0px 0px 36px 3000px rgba(0, 0, 0, 0.37);
      -moz-box-shadow: 0px 0px 36px 3000px rgba(0, 0, 0, 0.37);
      box-shadow: 0px 0px 36px 3000px rgba(0, 0, 0, 0.37);
    }
  }
}

@include media(phone-sm) {
  .signupBox {
    width: 85%;
    min-width: 170px !important;
  }
}
