@media screen and (min-width: 415px){
footer{
    padding: 70px 150px;
   position: relative;
    justify-content: space-around;
  text-align: center;
  color: white;
    background-color: #05225A;
  
  }
  .icons{
      display:flex-row;
  }
  .navbar{
      display:flex-row;
  }
}