.paymentInfoWrapper {
  width: calc(100% - 400px);
  padding-top: 100px;
  padding-left: 60px;
}

.handleClick {
  text-align: center;
  background-color: #d4d2d2;
  color: #6a6464;
  margin: auto;
  padding: auto;
  display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    .quantityCount {
      margin: 0 10px;
    }
}

.backToProducts {
  top: 50px;
    right: 5px;
    left: 5px;
    position: fixed;
  padding: initial;
  margin: auto;
  align-items: right;
  color: #343434;
  background-color: #828282;
text-align: right;
}
