.handleClick{
    background-color: #D4D2D2;
    color:#6A6464;
    justify-content: left;
    align-self:center;
}
body {
    background-color: red;
    margin: 0;
}
  .backToProducts{
      align-items: center;
      color: #343434;
      background-color: #828282;
  }