@import "../common/mixins";

$buttonGetStarted: #485181;
$buttonSignUp: #c3c9eb;
$headerHeight: 690px;
$headerHeightOnPhone: 860px;

.header {
  height: $headerHeight;
  display: flex;
  align-items: center;
  color: #fff;
  width: 100vw;

  .headerDescription {
    padding-top: 20px;
    font-size: 1.1rem;
  }
}

.videoWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  overflow: hidden;
}

.videoWrap video {
  min-width: 100%;
  min-height: 100%;
}

.headerOverlay {
  height: $headerHeight;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #2c3547;
  z-index: 1;
  opacity: 0.85;
}

.headerContent {
  z-index: 2;
  width: 100%;
  height: $headerHeight;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.whiteLine {
  width: 70%;
  height: 2px;
  border: 1px solid white;
}

.lineWrapper {
  grid-column: 1/2;
  grid-row: 5/6;
  margin-top: -35px;
}

.headerTextContent {
  grid-column: 2/10;
  grid-row: 4/8;
  padding-top: 20px;
}

.bottomButtons {
  grid-column: 1/13;
  grid-row: 11/13;

  .shortInfoRow {
    color: #fff;
    display: flex;
    padding: 0;
    position: relative;

    .shortInfoEducation {
      &::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        top: 0;
        left: -20px;
        border-left: 1px solid $buttonSignUp;
      }

      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        top: 0;
        right: 20px;
        border-right: 1px solid $buttonSignUp;
      }
    }

    .shortInfoItem {
      .shortInfoTitle {
        display: inline-block;
      }

      .shortInfoText {
        display: block;
      }

      .shortInfoIcon {
        font-size: 30px;
        padding-right: 20px;
      }
    }
  }
}

.middleButtons {
  padding-top: 20px;

  .buttonGetStarted {
    background-color: $buttonGetStarted;
    border-color: $buttonGetStarted;
    padding-left: 2rem;
    padding-right: 2rem;

    &:hover {
      background-color: $buttonSignUp;
      border-color: $buttonSignUp;
    }

    @include resetAnchorHover($buttonSignUp, $buttonGetStarted);
  }

  .buttonSignUp {
    background-color: $buttonSignUp;
    border-color: $buttonSignUp;
    color: $buttonGetStarted;
    padding-left: 3rem;
    padding-right: 3rem;

    &:hover {
      background-color: $buttonGetStarted;
      border-color: $buttonGetStarted;
    }

    @include resetAnchorHover($buttonGetStarted, $buttonSignUp);

    &:hover {
      background-color: $buttonGetStarted;
      border-color: $buttonGetStarted;
    }
  }
}

@include media(tablet) {
  .headerContent {
    padding-left: 30px;
  }

  .lineWrapper {
    display: none;
  }

  .headerTextContent {
    grid-column: 1/13;
    grid-row: 4/9;

    .headerTitle {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    .headerDescription {
      margin-bottom: 1.3rem;
      font-size: 1.1rem;
    }
  }

  .middleButtons {
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }

  .bottomButtons {
    grid-row: 10/13;
    padding-top: 20px;

    .shortInfoRow {
      padding-top: 30px;

      .shortInfoIcon,
      .shortInfoTitle {
        font-size: 1.4rem;
      }

      .shortInfoEducation {
        &::before {
          left: -10px;
        }

        &::after {
          right: 5px;
        }
      }
    }
  }
}

@include media(tablet-sm) {
  .header {
    max-width: 650px !important;
    padding-right: 40px !important;
  }

  .headerTextContent {
    grid-row: 3/8;
  }

  .bottomButtons {
    grid-row: 10/13;
    padding: 0;

    .shortInfoItem {
      .shortInfoIcon {
        padding-right: 10px !important;
        font-size: 1.3rem !important;
      }

      .shortInfoTitle {
        font-size: 1.1rem !important;
      }

      .shortInfoText {
        font-size: 2.3vw;
      }
    }

    .shortInfoEducation {
      &::before {
        left: -5px !important;
      }

      &::after {
        right: 10px !important;
      }
    }
  }
}

@include media(phone) {
  .header,
  .videoWrap,
  .headerOverlay,
  .headerContent {
    height: $headerHeightOnPhone;
  }

  .headerTextContent {
    grid-row: 2/8;
    padding-left: 15px;
    padding-right: 15px;

    .headerTitle {
      font-size: 5.2vw;
      margin-bottom: 1.5rem;
    }

    .headerDescription {
      font-size: 3.5vw;
    }
  }

  .bottomButtons {
    grid-row: 9/13;
    margin-top: -10px;

    .shortInfoRow {
      flex-wrap: wrap;
      padding-top: 0px;

      .shortInfoItem {
        text-align: center;
        min-width: 100%;
        padding-bottom: 35px;

        .shortInfoIcon,
        .shortInfoTitle {
          font-size: 1.3rem !important;
        }

        .shortInfoText {
          font-size: 1rem !important;
        }
      }

      .shortInfoEducation {
        &::before,
        &::after {
          width: 80%;
          height: 1px;
        }

        &::before {
          border-top: 1px solid $buttonSignUp;
          top: -15px;
          left: 50% !important;
          transform: translateX(-50%);
        }

        &::after {
          border-bottom: 1px solid $buttonSignUp;
          bottom: -15px;
          left: 50% !important;
          transform: translateX(-50%);
          top: auto;
          bottom: 12px;
        }
      }
    }
  }

  .middleButtons {
    grid-column: 1/13;

    .buttonGetStarted,
    .buttonSignUp {
      font-size: 0.8rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

@include media(phone-sm) {
  .bottomButtons {
    grid-column: 1/13;
    grid-row: 11/12;
  }

  .buttonGetStarted {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }

  .buttonSignUp {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }
}
