@import "../common/mixins";

.productDetailsContainer {
  padding-top: 120px;
  padding-bottom: 100px;
}

.productDetailsRow {
  margin-bottom: 5%;
}

.productInfoContainer {
  width: 100%;
  height: 70vh;
  display: flex;
  margin: auto;
}

.productImgs {
  .slick-slide > div {
    width: 100%;
  }

  width: 50%;
  height: 100%;
  background-color: #ecebe4;
  margin: 3%;
  display: flex;

  .mainImg {
    width: 70%;
    background-color: transparent;
    margin: auto;
  }

  // The smallImgs represent the dots li of the slick-slider thats why they'r given 400% width, otherwise they would be so tiny
  .smallImgs {
    width: 400%;
    background-color: #c4c4c4;
    margin-top: 200%;
  }

  .slick-initialized {
    width: 100%;
  }

  .slick-thumb li {
    margin: 15%;
    margin-bottom: 25%;
    margin-left: 0;
  }
}

.productInfo {
  width: 100%;
  height: 100%;
  margin: 3%;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  .productBrand {
    grid-row: 1/2;
    grid-column: 1/2;
    color: gray;
    font-size: 25px;
    position: relative;
    left: 20%;

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background-color: gray;
      position: absolute;
      top: 50%;
      left: -30%;
    }
  }

  .productPrice {
    grid-row: 1/2;
    grid-column: 11/12;
    font-weight: 300;
    font-size: 25px;
  }

  .productTitle {
    grid-row: 2;
    grid-column: 1/2;
    font-size: 30px;
  }

  .productDescription {
    grid-row: 3/4;
    grid-column: 1/12;
    font-size: 20px;
    color: #b2b2b2;
    font-weight: 300;
  }

  .productQuantity {
    align-self: center;
    grid-row: 4/6;
    grid-column: 1/4;
    border: none;
    width: 60%;
    height: 60%;
    background-color: #ecebe4;
    text-align: center;
  }

  // To hide the input arrows
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .quantityIncAndDecBtns {
    display: flex;
    flex-direction: column;
    grid-row: 4/6;
    grid-column: 2;
    align-self: center;
    button {
      background-color: #ecebe4;
      border: none;
      width: 25px;
    }
  }

  .quantity {
    grid-row: 4;
    grid-column: 2/4;
    font-size: 120%;
    padding-top: 20px;
    margin-left: 5px;
    padding-left: 25px;
  }

  .productSizes {
    align-self: center;
    background-color: #ecebe4;
    border: none;
    grid-row: 4/6;
    grid-column: 11/12;
    width: 60%;
    height: 60%;
    font-size: 100%;
  }

  select option:disabled {
    display: none;
  }

  .addToCartBtn {
    background-color: #cecceb;
    border: none;
    grid-row: 7/10;
    grid-column: 1/6;
    width: 90%;
    height: 50%;
    margin-left: 0;
  }

  .buyNowBtn {
    background-color: #e4d394;
    border: none;
    grid-row: 7/10;
    grid-column: 6/12;
    width: 90%;
    height: 50%;
    margin-left: 12%;
  }

  .favoriteBtn {
    background-color: transparent;
    grid-row: 11/14;
    grid-column: 1/6;
    margin: 10%;
    margin-left: 0;
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25),
      -1px -1px 10px rgba(255, 255, 255, 0.25);
  }

  .commentBtn {
    background-color: transparent;
    grid-row: 11/14;
    grid-column: 6/12;
    margin: 10%;
    margin-right: 0;
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25),
      -1px -1px 10px rgba(255, 255, 255, 0.25);
  }
}

@include media(desktop) {
  .productImgs {
    .slick-thumb li {
      margin: 15%;
      margin-bottom: 30%;
      margin-left: 0;
    }
  }
}

@include media(tablet) {
  .productImgs {
    .slick-thumb li {
      margin: 15%;
      margin-bottom: 40%;
      margin-left: 5%;
    }
  }

  .productInfo {
    .productQuantity {
      width: 50%;
    }

    .quantity {
      grid-row: 4;
      grid-column: 2/3;
      font-size: 100%;
    }
  }
}

@include media(tablet-sm) {
  .productInfoContainer {
    width: 100%;
    height: 50vh;
  }

  .productImgs {
    width: 50%;

    .smallImgs {
      width: 220%;
    }

    .slick-thumb li {
      margin: 15%;
      margin-bottom: 50%;
      margin-left: 0;
    }
  }

  .productInfo {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    .productBrand {
      font-size: 17px;

      &::before {
        top: 50%;
        left: -40%;
      }
    }

    .productPrice {
      font-size: 17px;
    }

    .productTitle {
      grid-row: 2;
      grid-column: 1/2;
      font-size: 20px;
    }

    .productDescription {
      grid-column: 1/12;
      font-size: 13px;
    }

    .productQuantity {
      grid-row: 4/6;
      grid-column: 1/4;
      width: 40%;
      height: 60%;
    }

    .quantity {
      grid-row: 4;
      grid-column: 2;
      font-size: 90%;
    }

    .productSizes {
      width: 90%;
      height: 60%;
      font-size: 90%;
    }

    .addToCartBtn {
      width: 100%;
      height: 40%;
      font-size: 70%;
    }

    .buyNowBtn {
      width: 100%;
      height: 40%;
      font-size: 70%;
    }

    .favoriteBtn,
    .commentBtn {
      width: 100%;
      height: 30px;
    }
  }
}

@include media(phone) {
  .productInfoContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .productInfo {
    height: 50%;

    .addToCartBtn {
      width: 100%;
      height: 50%;
    }

    .buyNowBtn {
      width: 100%;
      height: 50%;
    }

    .quantity {
      font-size: 70%;
      margin-left: 10px;
    }
  }

  .productImgs {
    width: 100%;
    margin-top: 0;

    .smallImgs {
      width: 250%;
    }

    .slick-thumb li {
      margin: 15%;
      margin-bottom: 27%;
      margin-left: 0;
    }
  }
}

@include media(phone-sm) {
  .productInfo {
    margin: 2%;

    .productQuantity {
      height: 30%;
    }

    .quantity {
      font-size: 80%;
      padding-top: 15%;
    }

    .productSizes {
      height: 40%;
      font-size: 80%;
    }

    .addToCartBtn {
      width: 100%;
      height: 30%;
      grid-row: 5/8;
    }

    .buyNowBtn {
      width: 100%;
      height: 30%;
      grid-row: 5/8;
    }

    .favoriteBtn,
    .commentBtn {
      grid-row: 6/7;
    }
  }
}
