@import "../../common/variables";

.navBar {
  list-style: none;
  margin-top: 15px;
}

.footerSection {
  padding: 70px 150px;
  position: relative;
  justify-content: space-around;
  text-align: center;
  color: white;
  background-color: #05225a;

  .footerIcons {
    svg {
      margin-bottom: 5px;
      margin: 15px;
    }
  }

  .navBar {
    flex-direction: row;
    display: flex;

    li {
      display: inline-block;
      margin: auto;
    }
  }
}

@include media(phone) {
  .footerSection {
    padding: 70px 150px;
    position: relative;
    justify-content: space-around;
    text-align: center;
    color: white;
    background-color: #05225a;

    .footerIcons {
      svg {
        margin-bottom: 5px;
      }
    }

    .navBar {
      width: 60px;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: auto;
      margin-top: 20px;

      .navBarItem {
        padding-bottom: 10px;
      }
    }
  }
}
